* {
  box-sizing: border-box;
}

.sticky-topbar {
  width: 100%;
}

.lead {
  font-weight: bold;
  font-style: italic;
}

.menu-text {
    font-family: cursive;
    font-size: 20px;
    
}

.media-object img {
  max-width: 100px;
  max-height: 100px;
}

.orbit-slide img {
  max-width: 2000;
  max-height: 750;
}

.hero-search-filter {
  background: url("../media/Fireworks.jpg")
    center center no-repeat;
  height: 300px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: image-set();
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-form .divider {
  background-color: #cacaca;
  width: 1px;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
  font-weight: bold;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
}

.profile-card-action-icons {
  background-color: #fefefe;
  font-weight: 400;
  margin-bottom: 1.6rem;
  border-radius: 0.125rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.18),
    0 0.125rem 2px rgba(0, 0, 0, 0.36);
}

.profile-card-action-icons .card-section {
  background-color: inherit;
  padding: 0.5rem 0 0;
}

.profile-card-action-icons .card-section .profile-card-header,
.profile-card-action-icons .card-section .profile-card-about {
  border-bottom: 0.0625rem solid #cacaca;
  padding: 0.7rem 1rem;
}

.profile-card-action-icons .card-section .profile-card-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-avatar {
  margin-right: 0.5rem;
}

.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-avatar
  .avatar-image {
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
}

.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-author {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin-top: 0.3rem;
  padding-bottom: 0;
}

.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-author
  .author-title,
.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-author
  .author-description {
  margin-bottom: 0;
}

.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-author
  .author-title {
  color: #0a0a0a;
}

.profile-card-action-icons
  .card-section
  .profile-card-header
  .profile-card-author
  .author-description {
  color: #8a8a8a;
  font-size: 0.9em;
}

.profile-card-action-icons .card-section .profile-card-about .about-title {
  text-transform: uppercase;
}

.profile-card-action-icons .card-section .profile-card-about .separator-left {
  text-align: left;
}

.profile-card-action-icons
  .card-section
  .profile-card-about
  .separator-left::before,
.profile-card-action-icons
  .card-section
  .profile-card-about
  .separator-left::after {
  display: table;
  content: " ";
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.profile-card-action-icons
  .card-section
  .profile-card-about
  .separator-left::after {
  clear: both;
}

.profile-card-action-icons
  .card-section
  .profile-card-about
  .separator-left::after {
  position: relative;
  width: 3rem;
  border-bottom: 0.125rem solid #1779ba;
  margin: 0.3rem auto 0;
  margin-left: 0;
}

.profile-card-action-icons .card-section .profile-card-about .about-content {
  margin-bottom: 0;
}

.profile-card-action-icons .card-section .profile-card-about .about-skills {
  margin-top: 0.6rem;
}

.profile-card-action-icons
  .card-section
  .profile-card-about
  .about-skills
  ul.arrow {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.profile-card-action-icons
  .card-section
  .profile-card-about
  .about-skills
  ul.arrow
  li:before {
  content: "\f006";
  font-family: "FontAwesome";
  float: left;
  color: #1779ba;
  margin-right: 0.5rem;
}

.profile-card-action-icons .card-section .profile-card-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile-card-action-icons .card-section .profile-card-action .action-area {
  width: 20%;
  border-right: 0.0625rem solid #cacaca;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.profile-card-action-icons
  .card-section
  .profile-card-action
  .action-area:last-of-type {
  border-right: none;
}

.profile-card-action-icons
  .card-section
  .profile-card-action
  .action-area
  .action-anchor.has-tip {
  border-bottom: none;
  cursor: pointer;
}

.profile-card-action-icons
  .card-section
  .profile-card-action
  .action-area
  .action-anchor
  .fa {
  color: #1779ba;
}

.type-sidelines {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.type-sidelines span {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.type-sidelines span:before,
.type-sidelines span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 9999px;
  top: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}

.type-sidelines span:before {
  right: 100%;
}

.type-sidelines span:after {
  left: 100%;
}

.double {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.double span {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.double span:before,
.double span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 9999px;
  top: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 0.5em;
  margin-top: -0.25em;
}

.double span:before {
  right: 100%;
}

.double span:after {
  left: 100%;
}

.custom {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.custom span {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.custom span:before,
.custom span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  border-top-style: dotted;
  border-top-width: 4px;
  border-top-color: #2980b9;
  margin-top: -2px;
}

.custom span:before {
  right: 100%;
}

.custom span:after {
  left: 100%;
}

.custom-2 {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.custom-2 span {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.custom-2 span:before,
.custom-2 span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 9999px;
  top: 50%;
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: #27ae60;
  margin-top: -2px;
}

.custom-2 span:before {
  right: 100%;
}

.custom-2 span:after {
  left: 100%;
}

.flip-card {
  -webkit-perspective: 1000;
  perspective: 1000;
  border: 0;
  background: transparent;
}

.flip-card:hover .flip-card-inner,
.flip-card.hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner-front,
.flip-card-inner-back {
  width: 100%;
  height: 20rem;
}

.flip-card-inner {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-inner-front,
.flip-card-inner-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.background-image-1 {
  background: url("../media/Cappadocia.jpg")
    0 0 no-repeat;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.background-image-2 {
    background: url("../media/Songkran.jpg")
      0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .background-image-3 {
    background: url("../media/Attractions.jpg")
      0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .background-image-4 {
    background: url("../media/Foodie.jpg")
      0 0 no-repeat;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

.flip-card-inner-front span {
  width: 100%;
  text-align: center;
  background: rgba(254, 254, 254, 0.8);
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.flip-card-inner-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background: #cacaca;
  padding: 1rem;
}

.flip-card-inner-back-title {
  font-weight: bold;
}

.flip-card-inner-back-text {
  line-height: 1.3;
}

.full-width-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)),
    url("../media/Aurora\ Borealis.jpg");
  background-position: center center;
}

.full-width-testimonial-icon .quote-path {
  fill: none;
  stroke: #ffae00;
  stroke-width: 2.5192;
  stroke-miterlimit: 10;
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
  text-align: center;
}

.full-width-testimonial-section {
  padding-top: 2rem;
}

.full-width-testimonial-section .full-width-testimonial-text {
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
}

@media print, screen and (min-width: 40em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media print, screen and (min-width: 64em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 75em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.full-width-testimonial-section .full-width-testimonial-source {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 0.2em;
  font-size: 1em;
}

.full-width-testimonial-section .full-width-testimonial-source-context {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}

.full-width-testimonial-section .slick-slider {
  margin-bottom: 0px;
}

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {
  padding-bottom: 2rem;
}

.full-width-testimonial-content {
  width: 100%;
}


.searchbar {
    margin: 1rem;
  }
  
  .search-field {
    width: 0;
    height: 40px;
    margin-left: 1rem;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
  }
  
  .expand-search {
    width: 80%;
    max-width: calc(80% - 3rem);
    border: 1px solid #c9c9c9;
    padding: .5rem;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
  
  .button {
    border-radius: 50px;
  }
  
  
.animated-search-form[type=search] {
    width: 10rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
  }
  
  .animated-search-form[type=search]:focus {
    width: 100%;
  }
  
  @charset "UTF-8";

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.rounded-social-buttons .social-button.pinterest {
  background: #cb2027;
}

.rounded-social-buttons .social-button.pinterest:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.pinterest:hover, .rounded-social-buttons .social-button.pinterest:focus {
  color: #cb2027;
  background: #fefefe;
  border-color: #cb2027;
}

.rounded-social-buttons .social-button.google-plus {
  background: #dd4b39;
}

.rounded-social-buttons .social-button.google-plus:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.google-plus:hover, .rounded-social-buttons .social-button.google-plus:focus {
  color: #dd4b39;
  background: #fefefe;
  border-color: #dd4b39;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.tumblr {
  background: #32506d;
}

.rounded-social-buttons .social-button.tumblr:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.tumblr:hover, .rounded-social-buttons .social-button.tumblr:focus {
  color: #32506d;
  background: #fefefe;
  border-color: #32506d;
}

